#home {
    color: white;
    background: #283044;
    padding-top: 180px;
    text-align: center;
}

#home h3 {
    margin: 0px;
}

.stars-moon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}





