#about {
    color:#1e1f25;
    background:  #cce2f5;
}

.about__presentation {
    max-width: 70%;
    margin-bottom: 2em; 
}

.about__title {
    z-index: 1;
}

@media (max-width: 768px) {
    .about__presentation {
        margin: 0px 2em; 
    }
}

