#about {
    color:#1e1f25;
    background: linear-gradient(to bottom, #EC9D9D 0%,  #cff4f5 20%, #A8DADC 50%, #84dcdf 80%, #32d6dc 100%);
}

.about__presentation {
    margin: 0px 4em; 
}

.about__title {
    z-index: 1;
}

@media (max-width: 768px) {
    .about__presentation {
        margin: 0px 2em; 
    }
}

