.stars-container {
    height: 250px;
    width: 250px;
}

.star {
    position: relative;
    background-color: white;
    border-radius: 50%;
    animation-name: grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.star1-horizontal {
    width: 8.5px;
    height: 3px;
    top: 10%;
    right: -8%;
    box-shadow: -1px -2px 25px 4px rgba(255,255,255,0.6);;
}

.star1-vertical {
    width: 2.5px;
    height: 10px;
    top: 7%;
    right: -9%;
    box-shadow: -1px -2px 25px 4px rgba(255,255,255,0.6);;
}

.star2-horizontal {
    width: 6px;
    height: 2px;
    right: -81%;
    box-shadow: -1px -2px 20px 3px rgba(255,255,255,0.6);;
}

.star2-vertical {
    width: 2px;
    height: 7px;
    top: -2%;
    right: -82%;
    box-shadow: -1px -2px 20px 3px rgba(255,255,255,0.6);;
}

.star3-horizontal {
    width: 7px;
    height: 2px;
    top: 85%;
    right: -20%;
    box-shadow: -1px -2px 20px 3px rgba(255,255,255,0.6);;
}

.star3-vertical {
    width: 2px;
    height: 7px;
    top: 83%;
    right: -21%;
    box-shadow: -1px -2px 20px 3px rgba(255,255,255,0.6);;
}

@keyframes grow {
    0% {
        transform:scale(1.5);
    }
    50% {
        transform:scale(2.5);
    }
    100% {
        transform:scale(1.5);  
    }
}